@model MortgageCalculator.Web.Models.DisplayModel
@{
    ViewBag.Title = "Mortgage Details";
}
<style>
    #myTable {
        border: 1px solid black;
        table-layout: fixed;
        width: 200px;
    }

        #myTable th {
            border: 1px solid black;
            width: 100px;
            }
     #myTable td {
        border: 1px solid black;
        width: 100px;
    }
</style>
<div class="jumbotron">
    <h1>Mortgage Calculator</h1>
    <p class="lead">
        The Mortgage Calculator helps you:
        <table id="view" width="100%" cellpadding="2" cellspacing="0">
            <tr>
                <td>
                    @Html.LabelFor(model => model.MortgageTypes)
                    @Html.EnumDropDownListFor(model => model.MortgageTypes, null, new {@id = "ddlMortgageTypes", @class = "form-control", @style = "width:200px;"})
                </td>
                <td>
                    @Html.LabelFor(model => model.PurchasePrice)
                    @Html.TextBoxFor(model => model.PurchasePrice, new {style = "width: 150px; height:35px;"})
                    @Html.HiddenFor(model => model.PurchasePrice)
                </td>
                <td>
                    @Html.LabelFor(model => model.InterestRate)
                    @Html.TextBoxFor(model => model.InterestRate, new {style = "width: 150px; height:35px;"})
                    @Html.HiddenFor(model => model.InterestRate)
                </td>
                <td>
                    @Html.LabelFor(model => model.LoanTermYears)
                    @Html.TextBoxFor(model => model.LoanTermYears, new {style = "width: 150px; height:35px;"})
                    @Html.HiddenFor(model => model.LoanTermYears)
                </td>

                <td>
                    <input type="button" id="paycalcid" value="Calculate"/>
                </td>

            </tr>
            <tr>
                <td>
                    
                        Total Monthly Payment : <div id="payresult"></div>
                  
                </td>
            </tr>
        </table>
    </p>
</div>


<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal">
            <fieldset>
               
                <legend>Mortgage Details</legend>

                <!-- Text input-->
                <div class="form-group">
                   
                        <table id="myTable" width="100%">
                            <thead>
                            <th>Name</th>
                            <th>MortgageType</th>
                            <th>InterestRepayment</th>
                            <th>InterestRate%</th>
                            <th>EffectiveStartDate</th>
                            <th>EffectiveEndDate</th>
                            <th>TermsInMonths</th>
                            <th>CancellationFee</th>
                            <th>EstablishmentFee</th>

                            </thead>
                            @foreach (var item in Model.Mortgages)
        {

                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.MortgageType
                        </td>
                        <td>
                            @item.InterestRepayment
                        </td>
                        <td>
                            @item.InterestRate
                    </td>
                    <td>
                        @item.EffectiveStartDate
                    </td>
                    <td>
                        @item.EffectiveEndDate
                    </td>
                    <td>
                        @item.TermsInMonths
                    </td>
                    <td>
                        @item.CancellationFee
                    </td>
                    <td>
                        @item.EstablishmentFee
                    </td>

                    </tr>

}
                        </table>

</div>

            </fieldset>
        </form>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
 
            $("#paycalcid").on('click', function () {

                var purchaseamout = $('#PurchasePrice').val();
                var interestrate = $('#InterestRate').val();
                var months = $('#LoanTermYears').val();

                $.ajax({
                    url: 'http://localhost:49608/api/LoanPayment/' + purchaseamout + '/' + interestrate + '/' + months,
                    type: 'GET',
                    dataType: 'json',
                }).done(function (resp) {
                    $('#payresult').html(resp);
                    }).error(function (err) {
                    alert("Error " + err.status);
 
                });
 
            });
 
        });

        $(document).ready(function() 
            { 
            $("#myTable").DataTable(); 
            } 
        ); 

        

    </script>

}